html, body{
  height:100%;
  margin:0;
  padding:0
}

body {
  background:none;
<<<<<<< HEAD
  padding-top: 70px;
=======
>>>>>>> master
}

.full {
  background: url("../img/footballfield-50blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
<<<<<<< HEAD
  max-width: 1300px;
}

.container-fluid-navbar{
  display:table;
  width: 100%;
  padding: 0;
  max-width: 1300px;
=======
>>>>>>> master
}

.row-fluid {
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}

#panel-top{
<<<<<<< HEAD
border-radius: 5px;
margin-top: 0px;
}

#panel-bottom{
border-radius: 5px;
margin-bottom: 10px;
}

#landing.jumbotron{
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  margin-top: 30px;
}

#selection-title.lead{
  text-decoration: underline;
  margin-bottom: 0px;
}

#selection-options.panel-body{
  padding-top: 0px;
}

#well.well{
  border-radius: 5px;
=======
border-radius: 25px;
margin-top: 0px;
}

#landing.jumbotron{
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 25px;
  margin-top: 30px;
}

#selection.lead{
  margin-bottom: 0px;
}

#well.well{
  border-radius: 25px;
>>>>>>> master
  border: 3px solid rgb(245, 245, 245);
  transition: .5s ease;
  opacity: 1;
}

<<<<<<< HEAD
#well.header{
  padding: 5px;
}

=======
>>>>>>> master
.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.75;
	margin-bottom: 5px;
}
<<<<<<< HEAD

.chart-stage{
  margin-left: 10px;
  margin-right: 10px;
}

.panel{
  padding-left: 0px;
  padding-right: 0px;
}

.results-header{
  margin: 0 auto;
}

select {
    overflow-y: auto;
}

.prediction-chart{
  width:100%;
  height:auto;
}
=======
>>>>>>> master
